In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
from pymongo import MongoClient

In [3]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [4]:
cursor = collection_reference.find()

In [5]:
cursor.count()

2157100

In [6]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 20}}])

In [7]:
len(list(cursor_sampl))

20

In [8]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [9]:
tw = next(cursor_sampl)

In [10]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'display_text_range', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms', 'user_processed'])

In [11]:
list(tw.values())[:5]

[ObjectId('5a72a7a836dd5f00016c2788'),
 'Thu Feb 01 05:37:44 +0000 2018',
 958937388243345408,
 '958937388243345408',
 '@madisondreyfuss Ily']

In [12]:
import pandas as pd

In [13]:
tw_sample_df = pd.DataFrame(list(collection_reference.aggregate([{'$sample': {'size': 5}}])))

In [14]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
extended_tweet                object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
user_processed                object
dtype: object

In [15]:
tw_sample_df.select_dtypes([int])

   favorite_count                  id  quote_count  reply_count  retweet_count
0               0  950216864340193281            0            0              0
1               0  961289381913833472            0            0              0
2               0  959246611548262401            0            0              0
3               0  958541501876781056            0            0              0
4               0  960911550545526784            0            0              0

In [16]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id
0                    NaN                  NaN
1           9.609110e+17         2.334194e+09
2                    NaN                  NaN
3                    NaN                  NaN
4                    NaN                  NaN

In [17]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,filter_level,geo,...,in_reply_to_status_id_str,in_reply_to_user_id_str,lang,place,possibly_sensitive,source,text,timestamp_ms,user,user_processed
0,5a52ee0936dd5f0001592568,None,None,Mon Jan 08 04:05:29 +0000 2018,"[0, 50]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 950216859772600320, 'id_str'...",NaN,low,None,...,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,"<a href=""http://twitter.com/download/iphone"" r...",Thank you tinder for the little confidence boo...,1515384329291,"{'id': 164952466, 'id_str': '164952466', 'name...",True
1,5a7b361f15ba4c000157e09f,None,None,Wed Feb 07 17:23:43 +0000 2018,"[7, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@Comey Oh Jimmy! How about this...,low,None,...,960911029881462784,2334193741,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/#!/download/ipad"" ...",@Comey Oh Jimmy! How about this???\nBREAKING: ...,1518024223198,"{'id': 456932170, 'id_str': '456932170', 'name...",NaN
2,5a73c7a536dd5f00016ccc21,None,None,Fri Feb 02 02:06:28 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,low,None,...,None,None,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...","iâ€™m hungry, tired, but have hw due tonight wit...",1517537188790,"{'id': 560878173, 'id_str': '560878173', 'name...",True
3,5a7136f536dd5f00016b38aa,None,None,Wed Jan 31 03:24:37 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,low,None,...,None,None,und,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",ðŸš€ðŸš€ðŸš€,1517369077544,"{'id': 15879201, 'id_str': '15879201', 'name':...",True
4,5a79d63d15ba4c0001570d0a,None,"{'type': 'Point', 'coordinates': [-122.6045391...",Tue Feb 06 16:22:21 +0000 2018,NaN,"{'hashtags': [{'text': 'fetidadderstongue', 'i...",NaN,NaN,low,"{'type': 'Point', 'coordinates': [37.9699061, ...",...,None,None,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Fetid Adderâ€™s Tongue blooming on Bolinas Ridge...,1517934141180,"{'id': 54802069, 'id_str': '54802069', 'name':...",NaN

In [18]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [19]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [20]:
tw_sample_df

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,favorite_count,favorited,...,quote_count,reply_count,retweet_count,retweeted,source,text,timestamp_ms,truncated,user,user_processed
0,5a52ee0936dd5f0001592568,None,None,2018-01-08 04:05:29,"[0, 50]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 950216859772600320, 'id_str'...",NaN,0,False,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",Thank you tinder for the little confidence boo...,1515384329291,False,"{'id': 164952466, 'id_str': '164952466', 'name...",True
1,5a7b361f15ba4c000157e09f,None,None,2018-02-07 17:23:43,"[7, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,{'full_text': '@Comey Oh Jimmy! How about this...,0,False,...,0,0,0,False,"<a href=""http://twitter.com/#!/download/ipad"" ...",@Comey Oh Jimmy! How about this???\nBREAKING: ...,1518024223198,True,"{'id': 456932170, 'id_str': '456932170', 'name...",NaN
2,5a73c7a536dd5f00016ccc21,None,None,2018-02-02 02:06:28,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...","iâ€™m hungry, tired, but have hw due tonight wit...",1517537188790,False,"{'id': 560878173, 'id_str': '560878173', 'name...",True
3,5a7136f536dd5f00016b38aa,None,None,2018-01-31 03:24:37,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,0,False,...,0,0,0,False,"<a href=""http://twitter.com/download/iphone"" r...",ðŸš€ðŸš€ðŸš€,1517369077544,False,"{'id': 15879201, 'id_str': '15879201', 'name':...",True
4,5a79d63d15ba4c0001570d0a,None,"{'type': 'Point', 'coordinates': [-122.6045391...",2018-02-06 16:22:21,NaN,"{'hashtags': [{'text': 'fetidadderstongue', 'i...",NaN,NaN,0,False,...,0,0,0,False,"<a href=""http://instagram.com"" rel=""nofollow"">...",Fetid Adderâ€™s Tongue blooming on Bolinas Ridge...,1517934141180,False,"{'id': 54802069, 'id_str': '54802069', 'name':...",NaN

## Tweets Containing Geo Information

In [21]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

### DO NOT RUN THIS

In [22]:
# contain_geo_search.count()

    318373

## Distinct Users

#### TRY THIS

In [23]:
collection_reference.distinct('user')

OperationFailure: distinct too big, 16mb cap